@import url(pygments.css);

body {
    font-size: 10pt;
    font-family: Sans-Serif;
    font-weight: normal;
    text-align: justify;
    margin: 0;
    padding: 0;
    margin-top: 2.5%;
    color: #000;
    background-color: white;
    counter-reset: figure;
}

/* -------------------------------------------------------------------------- */
/*  Document                                                                  */
/* -------------------------------------------------------------------------- */
.document {
    padding: 1em;
    line-height: 1.25em;
    padding-left: 10%;
    padding-right: 25%;
    padding-bottom: 5%;
    font-family: Serif;
}
h1, h2, h3, h4, h5, h6 {
/*    font-family: "Trebuchet MS", Arial, Tahoma, Sans-Serif; */
    font-family: Sans-Serif;
    font-weight: normal;
    color: #3d3d3d;
    clear: both;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: #3d3d3d;
}
h1.title {font-size: 150%}
h1 {font-size: 125%}
h2 {font-size: 110%}
h3 {font-size: 100%}
h4 {font-size: 100%}
h5 {font-size: 100%}
h6 {font-size: 100%}
a  {text-decoration: none;}
blockquote {margin-right: 0;}
blockquote img {
    float: left;
    margin-right: 1em;
}
pre {
    display: block;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: .5em;
}
/*
hr.docutils {
    height: 0;
    border: 0;
    padding-bottom: .5em;
    clear: both;
}
img {border: 0;}
*/
li {text-align: left;}


/* Header                                                                     */
/* -------------------------------------------------------------------------- */
.header {
    padding: 0;
    /*padding-top: 32pt;*/
}

.header .title  {
	text-align: left;
    font-size: 64pt;
    margin: 0;
    padding: 0;
    padding-right: 1em;
    line-height: .7em;
}

.header hr {
    display: none;
}
.header ul {
    font-size: 10pt;
	background: #f2f2f2;
	margin: 0;
	padding: 0;
	padding: 5px;
	padding-left: 31px;
    margin-bottom: 2em;
}
.header ul li {
	margin: 0;
	padding: 0 10px;
	list-style: none;
	display: inline;
}
.header ul li a {
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	text-decoration: none;
	color: #3d3d3d;
}
.header ul li a:hover {
	border-bottom: 2px solid #3d3d3d;
}
.header p {
    color: #f0f0f0;
    text-align: right;
    margin:0;
    padding:0;
    padding-right: 1em;
	background-color: #fff;
}

/* -------------------------------------------------------------------------- */
/*  Footer                                                                    */
/* -------------------------------------------------------------------------- */
.footer {
    text-align: right;
    font-family: Verdana, Arial, Helvetica, Sans-Serif;
    font-weight: normal;
    color: #000;
    margin: 0;
    padding: 1em;
    padding-top: .5em;
    padding-bottom: .5em;
    background-color: #3d3d3d;
}
.footer hr {display: none;}



/* -------------------------------------------------------------------------- */
/*  Figures                                                                   */
/* -------------------------------------------------------------------------- */
.figure {
    font-size: 85%;
    display: inline-block;
    border: 1px solid #ddd;
    background-color: #eee;
    margin: 0;
    padding: 8px;
}
.figure img {
    display: block;
    background-color: white;
    border: 1px solid #ddd;
    margin: 0;
    padding: 5px;
}
.figure p {
    font-size: 85%;
    clear: both;
    font-weight: bold;
    margin : 0;
    padding : 0;
    padding-top: 5px;
}

.figure p:before {
    counter-increment: figure;
    content: "Figure " counter(figure) " ";
    font-weight: normal;
    font-style: oblique;
}

/* -------------------------------------------------------------------------- */
/*  Admonitions, sidebar & system messages                                    */
/* -------------------------------------------------------------------------- */
.admonition, .note, .tip, .hint, .attention, .important,
.caution, .warning, .danger, .error, .system-message, .sidebar {
    padding: 0;
    margin: 0;
    display: inline-block;
/*    font-size: 85%;*/
/*    background-color: rgba(0,0,0,.1);*/
/*    padding: 1em;
    padding-top: .25em;
    padding-bottom: .25em;
    margin-top: 1em;
    margin-bottom: 1em;
    border: solid 1px #000;
*/
/*    border: solid 2px #e0e0df;*/
    border: solid 1px #000;
    background-color: #f0f0f0;
}
.warning p {
    padding: .5em;
    padding-top: .125em;
    padding-bottom: .125em;
}
.admonition-title {
    font-variant: small-caps;
    margin:0;
    padding: .5em;
    padding-top: .25em;
    padding-bottom: .25em;
    font-weight: bold;
    color: white;
    background: #a0a0a0;
    border: solid 1px white;
}

.error, .danger {color: red;}
.system-message {
    border: solid 1px #ffa0a0;
    background-color: #ffc0c0;
}
.sidebar {
    float: right;
    clear: right;
    margin-left: 1em;
}

/* ------------------------------------------------------------------------- */
/*  Tables                                                                   */
/* ------------------------------------------------------------------------- */
table {
    width:90%;
    margin-left: 1em;
    margin-right: 1em;
    border: 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-spacing: 0;
}
th {
    padding-left: 1em;
    padding-right: 1em;
    border: none;
    background-color: #f0f0f0;
    border-bottom: 1px solid black;
}
td {
    padding-left: 1em;
    padding-right: 1em;
    border: none;
}
