@import "pygments.css";

body
{    
    font-family: "Liberation Sans", "Bitstream Vera Sans", "Sans-Serif";
    font-size: 12pt;
    color: #333333;
    font-size: 12pt;
    line-height: 1.25em;
    background-color: #eeeeee;
    padding: 0;
    margin: 0;
}

.document
{
    margin-left: 10%;
    margin-right: 10%;
    padding: 5%;
    background-color: #ffffff;
}

h1 {
    padding-top: 1em;
    font-size: 16pt;
    font-family: "Trebuchet MS";
    font-weight: bold;
    color: #000000;
    clear:both;
}

h2 {
    font-size: 13pt;
    font-family: "Trebuchet MS";
    font-weight: normal;
/*    color: #777777;*/
    line-height: 1.0em;
    padding:0;
    margin:0;
    padding-bottom:1em;
}

p {
    text-align: justify;
}

.left {
    float: left;
    margin-right: 2em;
}

/* --- Header -------------------------------------------------------------- */
.header {
    color: #ffffff;
    background-color: #9999ff;
    background-image: url(banner.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    font-family: sans;
    font-size: 24pt;
    padding-top: 1%;
    padding-bottom: 0px;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 1em;
    padding-top: 150px;
}
.header ul {
    font-size: 11pt;
    font-family: "Bitstream Vera Sans", sans-serif;
    margin:0;
    padding: 0;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 1em;
    padding-bottom: 1em;
    background: #000000;
}
.header hr {
    display: none;
}
.header ul li {
    list-style: none;
    display: inline;
	padding: 2px 8px 2px 8px;
}
.header ul li a {
    text-decoration: none;
    font-weight: normal;
	color: #ffffff;
}
.header ul li a:hover {
    border-bottom: 1px dotted #ffffff;
}

/* --- Footer -------------------------------------------------------------- */
.footer {
    color: #ffffff;
    text-align: center;
    background-color: #9999ff;
    margin:0;
    margin-left: 10%;
    margin-right: 10%;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: .5em;
    padding-bottom: .5em;

}
.footer hr {
    display: none;
}


/* --- Highlight -------------------------------------------------------------- */
 pre {
     font-size: 9pt;
     line-height: 1.25em;
     padding:      1.0em;
     padding-left: 1.5em;
     background-color: #f0f0f0;
}



