include *.txt
include MANIFEST.in
include setup.py
recursive-include bin *
recursive-include tests *
recursive-include dana *.cc *.h
recursive-include examples *.py
recursive-include doc *.tex *.css *.py Makefile